[submodule "tests"]
	path = tests
	url = https://github.com/editorconfig/editorconfig-core-test.git
[submodule "lib/fnmatch"]
	path = lib/fnmatch
	url = https://github.com/10sr/editorconfig-fnmatch-el.git
